*.ERR
.gitignore
phoneinfo.bat
afiedt.buf
*.exe
.*.swp
*.zip
*.txt
*.bat~
auditLogs/
Bat2Ex/
batkit58/
bku/
blite/
compilers/
depends22_x64/
experiments/
home/
ksh/
Menu/
menus/
MindMaps/
mku/
ms-dos-batch-file-programming_files/
replace/
stringManipulation/
TestBat/
TortoiseCVS/
unix/
utilities/
VIM/
wselect/
xe4/
